// Colors
$primary: #335ece;
$secondary: #ffffff;
$dark: #264186;
$lightBlue: #a9b9e0;
$grey: #555555;
$lightGrey: #c6bdc6;

$riskLow: #b2e2b1;
$riskMedium: #ebd5c1;
$riskHigh: #e3b3b3;

// Size
$header: 2.5rem;
$subHeading: 1.8rem;
$paragraph: 1.2rem;
$mobileHeader: 1.7rem;
$mobileParagraph: 0.9rem;

// Font weight
$bold: 600;
$regular: 400;
$light: 200;

// Transition
$fast: 0.3s ease-in-out;
$medium: 0.6s ease-in-out;
$slow: 0.9s ease-in-out;

// Box Shadow
$lightBlack: 2px 2px 5px rgba(0, 0, 0, 0.25), 4px 4px 30px rgba(0, 0, 0, 0.1);
$mainShadow: 4px 4px 4px rgba(0, 0, 0, 0.1), 4px 4px 14px #111e3f4f;
