@import "../utilities/variables.scss";
@import "../utilities/mixins";

// Overflow
.allowOverflow {
	overflow: visible !important;
}

// Popup (Container)
.popup {
	@include flexCenter();
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(51, 94, 206, 0.77);
	z-index: 100;
	transition: $fast;
	padding: 2em 0em;
	.popupContainer {
		position: relative;
		width: 80%;
		max-width: 1000px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		padding: 4em;
		transition: $fast;
		overflow-y: auto;
		max-height: 100%;
		.closeBtn {
			position: absolute;
			top: 2rem;
			right: 2rem;
			font-size: 3rem;
			color: rgba(51, 94, 206, 0.23);
			transition: $fast;
			cursor: pointer;
			&:hover {
				color: $primary;
			}
		}
		h1 {
			margin-bottom: 0.5em;
		}
		label {
			font-size: $paragraph;
		}
		input,
		textarea,
		select {
			border-radius: 6px;
			padding: 0.5em 1em;
			transition: $fast;
		}
		textarea {
			height: 100%;
			resize: none;
		}
		input[type="button"],
		input[type="submit"] {
			color: white;
			font-weight: 800;
			padding: 0.5em 1em;
			transition: $fast;
		}
		.cancelBtn {
			background-color: rgba(206, 51, 51, 1);

			&:focus,
			&:hover {
				background-color: rgb(155, 43, 43);
				text-shadow: 1px 2px 4px black;
			}
		}
		.submitBtn {
			background-color: $primary;
			&:focus,
			&:hover {
				background-color: $dark;
				text-shadow: 1px 2px 4px black;
			}
		}
		&::-webkit-scrollbar {
			width: 0.75em;
		}

		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(18, 52, 114, 0.3);
			margin: 4em 0;
			border-radius: 20px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $primary;
			outline: 1px solid rgba(18, 52, 114, 1);
			border-radius: 20px;
		}
	}
}

@media screen and (max-width: 800px) {
	.popup {
		.popupContainer {
			padding: 2em;
			width: 90%;
			height: auto;
			h1 {
				font-size: $mobileHeader;
			}
			label {
				font-size: $mobileParagraph;
			}
		}
	}
}

// Add Popup
.addForm {
	@include gridCenter();
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
	> div {
		@include flexCenter(column, flex-start, flex-start);
		height: 100%;
	}
	input,
	textarea,
	select {
		width: 90%;
		margin-bottom: 1em;
	}
	.buttons {
		@include gridCenter();
		grid-template-columns: 1fr 1fr;
		width: 90%;
		grid-gap: 10px;
		input {
			width: 100%;
		}
	}
}

@media screen and (max-width: 800px) {
	.addForm {
		display: unset !important;
		input,
		textarea,
		select,
		.buttons {
			width: 100% !important;
		}
		textarea {
			height: 100px !important;
		}
	}
}

// Remove Popup
.removeForm {
	@include flexCenter(row, flex-start, center);
	padding: 2em 0em 0em;
	label {
		margin-right: 0.5em;
		font-weight: $bold;
	}
	.dropdown {
		width: 280px;
		margin-right: auto;
	}
	input {
		width: 140px;
		height: 100%;
		&:first-of-type {
			margin: 0 0.5em;
		}
	}
}

@media screen and (max-width: 800px) {
	.removeForm {
		@include flexCenter(column, center, flex-start);
		padding: 0em;
		.dropdown,
		input {
			margin: 0.5em 0;
			width: 100%;
			&:first-of-type {
				margin: unset;
				margin-top: 1em;
			}
		}
	}
}

// Modify popup {
.modifyForm {
	label {
		font-weight: $bold;
	}
	.existing {
		@include gridCenter();
		grid-template-columns: 1fr 1fr;
	}
	select {
		width: 90%;
	}
	.viewAllBtn {
		@include flexCenter();
		color: white;
		font-weight: $bold;
		width: 180px;
		background-color: $primary;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
		padding: 0.5em 1em;
		transition: $fast;
		margin-left: auto;
		&:hover,
		&:focus {
			background-color: $dark;
			color: white;
		}
	}
}
hr {
	margin: 1em 0;
	border: 1px solid $primary;
	border-radius: 10px;
}
.modifyBottom {
	@include gridCenter(start, start);
	grid-template-columns: 1fr 1fr;
	h2 {
		grid-column: span 2;
	}
	.modifyLeft,
	.modifyRight {
		@include flexCenter(column, flex-start, flex-start);
		height: 100%;
		width: 100%;
	}
	.modifyRight {
		margin-left: 10%;
	}
	input,
	textarea,
	select {
		width: 90%;
		margin-bottom: 1em;
	}
	textarea {
		height: 100px;
	}
	.doneBtn {
		background-color: $primary;
		&:hover {
			background-color: $dark;
		}
	}
}

@media screen and (max-width: 800px) {
	.modifyForm {
		.existing {
			grid-template-columns: 1fr;
		}
		.viewAllBtn {
			width: 100%;
			padding: 0.25em;
			margin: 0.5em 0;
			border: 1px solid $primary;
		}
	}
	.modifyBottom {
		.modifyLeft,
		.modifyRight {
			grid-column: span 2;
			margin: 0;
			width: 100% !important;
		}
		input,
		textarea,
		select {
			width: 100%;
			margin-bottom: 1em;
		}
	}
}

// Prioritize popup
.priorityLabels {
	@include gridCenter();
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	h3:first-child {
		text-align: left;
	}
}
.priorityContainer {
	.priorityItem {
		@include gridCenter();
		text-align: center;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 0.5em 0;
		border: 1px solid $primary;
		border-radius: 6px;
		background-color: rgba(51, 94, 206, 0.77);
		cursor: pointer;
		h3 {
			color: white;
			padding: 0.25em 0.5em;
			font-size: 1rem;
			font-weight: $regular;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h3:not(:last-child) {
			border-right: 1px solid white;
		}
		h3:first-child {
			text-align: left;
		}
	}
}

@media screen and (max-width: 800px) {
	.priorityLabels {
		font-size: 0.7rem;
		font-weight: $regular;
		grid-template-columns: 1fr 1fr;

		h3:first-child {
			text-align: center;
		}
	}
	.priorityContainer {
		.priorityItem {
			grid-template-columns: 1fr 1fr;
			border: 1px solid $dark;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
			h3 {
				font-size: 0.7rem;
				font-weight: $light;
			}
			h3:not(:last-child) {
				border-right: unset;
			}
			h3:first-child {
				text-align: center;
			}
		}
	}
}
